<div class="container-fluid">
	<h2>Creation d'une alerte</h2>
	<form class="form-horizontal col-md-5">
		<div class="form-group">
			<label for="alerte.destinataire">Destinataire</label> <input
				ng-model="alerte.destinataire" type="text" class="form-control" />
		</div>
		<div class="form-group">
			<label for="alerte.delais">Delais</label> <input ng-model="alerte.delais"
				type="text" class="form-control" />
		</div>
		<div class="form-group">
			<label for="alerte.message">Message</label>
			<textarea ng-model="alerte.message" type="text" rows="5"
				class="form-control"></textarea>
		</div>
		<div class="form-group">
			<label for="alerte.pj">Pièce jointe</label> <input data-file="alerte.pj"
				type="file" />
		</div>

		<hr />

		<button class="btn btn-info" ng-click="createAlert(alerte)">Creer l'alerte</button>
	</form>
	
	<pre>{{alerte}}</pre>
</div>
