<div>
	<table ng-table="alertesTable" class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Délais</th>
			<th>Login personne</th>
			<th>Destinataire</th>
			<th>Message</th>
			<th>PJ</th>
		</tr>
		<tr ng-repeat="alert in alerts">
			<td>{{alert.idalerte}}</td>
			<td><button class="btn btn-default" ng-click="updateAlert(alert)">{{alert.delaisalertes}}</button></td>
			<td>{{alert.idpersonne.loginPersonne}}</td>
			<td>{{alert.destinatairealerte}}</td>
			<td>{{alert.messagealerte}}</td>
			<td>{{alert.pjalerte}}</td>
		</tr>
	</table>
	<button class="btn btn-info" ng-redirect-to="#/createAlert">Créer une alerte</button>
	<button class="btn" ng-redirect-to="#/usersManagement">Gérer utilisateurs</button>
</div>
